body {
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
  color: #505962; }

/*-- Start Navbar --*/
.navbar {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
  background: rgba(0, 0, 0, 0.6) !important; }
  .navbar li {
    padding-right: 0.7rem; }
  .navbar-nav .nav-link {
    color: white !important;
    padding: 0.7rem 0; }
    .navbar-nav .nav-link:hover, .navbar-nav .nav-link.active {
      color: #1ebba3 !important; }
  .navbar-brand img {
    height: 2rem; }

/*-- End Navbar --*/
